@import '../../styles/theme.scss';

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;

  .content {
    text-align: left;
    width: 50%;
    height: auto;
    margin: 15px 20px;
  }
  .skills {
    display: flex;
    flex-direction: row;
    height: auto;

    .list {
      width: 100%;
    }
  }

  .image {
    -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
    img {
      height: auto;
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .skills {
    justify-content: space-evenly;

    .list {
      margin: 0 20px;
    }
  }

  .content {
    display: flex;
  }
}
