@import '../../styles/theme.scss';

.wrapper {
  text-align: center;
  height: fit-content;
  width: 500px;
  padding: 20px;
  background-color: $gray;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: fixed;
  top: 25%;
  right: calc(50% - 250px);

  .content {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;

    button {
      width: max-content;
      height: 100%;
      padding: 5px;
      margin: 5px 0 20px 0;
      background-color: $teal;
      border-radius: 5px;
      transition: 0.1s ease-in-out;

      &:active {
        -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
      }
    }

    .delete {
      background-color: red;
    }
  }
}
