@import '../../styles/theme.scss';

.wrapper {
  cursor: pointer;
  min-width: fit-content;
  height: fit-content;
  background-color: $light-gray;
  border: 2px solid $dark-gray;
  border-radius: 5px;
  padding: 3px 5px;
}
