@import '../../styles/theme.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tagsSelect {
    margin-top: 15px;
    padding: 0;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 20px;

    .tagItem {
      width: 130px;
    }
  }

  button {
    color: $white;
    background-color: $teal;
    margin-top: 15px;
    width: fit-content;
    height: 30px;
    border: none;
    border-radius: 5px;

    &:active {
      -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
